In [45]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [46]:
df_loans = pd.read_csv("Resources/loans_data_encoded.csv")
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [52]:
#X.columns
X = df_loans.drop(["bad" , 'education_Bachelor',
       'education_High School or Below', 'education_Master or Above',
       'education_college', 'gender_female', 'gender_male' ] , axis = 1)
X.head()

   amount  term  age  month_num
0    1000    30   45          6
1    1000    30   50          7
2    1000    30   33          8
3    1000    15   27          9
4    1000    30   28         10

In [53]:
y = df_loans["bad"].values
y[:5]
#y = df_loans["bad"].ravel()
#y[:5]

array([0, 0, 0, 0, 0])

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [55]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [56]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [57]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [58]:
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1])

In [59]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
cm = confusion_matrix(y_test, predictions)
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
# Displaying results
print(cm)
print("\n")
print(f"Accuracy Score : {acc_score}")
print("\n")
print(classification_report(y_test, predictions))

[[53 31]
 [25 16]]


Accuracy Score : 0.552


              precision    recall  f1-score   support

           0       0.68      0.63      0.65        84
           1       0.34      0.39      0.36        41

    accuracy                           0.55       125
   macro avg       0.51      0.51      0.51       125
weighted avg       0.57      0.55      0.56       125

In [60]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.0640236 , 0.10074932, 0.49820873, 0.33701835])

In [61]:
importances_for_real = sorted(zip(importances, X.columns), reverse = True)
[x for x in importances_for_real]
#can see that age is important, however when the model is run again without the lower ranked features it does NOT improve the accuracy...

[(0.49820872827471985, 'age'),
 (0.3370183522682921, 'month_num'),
 (0.10074931752548807, 'term'),
 (0.06402360193150002, 'amount')]